body {
    background: url('/images/ios-linen.jpg');
}
#content {
    width: 100%;
    height: 100%;
}
.a_tile {
    display: block;
    border: 1px solid #0a0a0a;
    box-shadow: 0 0 30px -2px black;
    cursor: pointer;
    background: #fff;
    position: absolute;
}
.a_tile:active,
.a_tile:focus {
    cursor: pointer;
}
#game_assets {
    display: none;
}
#game_board {
    position: absolute;
    top: -50%;
    left: 50%;
    zoom: 0.3;
    -webkit-transform: rotate(45deg);
    margin-top: 1400px;
}



#the_colors {
    margin-top: 10px;
}
#the_colors .color {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: -1px -3px 13px -3px #888 inset, 0 0 10px 1px #000, 0 -1px 5px 0px #fff;
}
#the_colors .color.selected {
    border: 3px solid #dedede;
    margin: -3px 7px 0 -3px;
}
#the_colors .color.slate {
    background-color: #556270;
}
#the_colors .color.pacifica {
    background-color: #4ECDC4;
}
#the_colors .color.apple {
    background-color: #C7F464;
}
#the_colors .color.reflector {
    background-color: #FF6B6B;
}
#the_colors .color.pillow {
    background-color: #C44D58;
}